/* 
Nombre Completo: Jhonatan Toro Vásquez
Clan: Gates
Fecha: 03/04/2024
*/

/* Importación de fuentes e iconos  */

@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Reseteo de variables */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Open Sans";
    /* line-height: 1.3; */
}

/* Definición de variables */

:root {
    --background-nav: hsla(0, 0%, 0%, 0.5);
    --font-main: white;
    --background-facebook: #0866ff;
    --color-facebook: white;
    --background-instagram: #8d7762;
    --color-instagram: white;
    --background-twitter: #00acee;
    --color-twitter: white;
    --background-youtube: #c4302b;
    --color-youtube: white;
    --background-snapchat: #FFFC00;
    --color-snapchat: black;
    --color-aside: white;
}

/* Header */

header {
    background-image: url(../../public/img/Mis\ viajes.webp);
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

/* Barra de navegación */

nav {
    background-color: var(--background-nav);
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Logo - título */

.main {
    display: flex;
    align-items: center;
}

.main img {
    height: 60px;
}

h1 {
    font-family: "Chewy";
    color: var(--font-main);
    font-size: 30px;
}

/* Redes sociales */

.redes {
    display: flex;
    gap: 10px;
}

/* Facebook */

.facebook {
    background-color: var(--background-facebook);
    padding: 5px;
    border-radius: 16px;
    color: var(--color-facebook);
}

/* Instagram */

.instagram {
    background-color: var(--background-instagram);
    padding: 5px;
    border-radius: 16px;
    color: var(--color-instagram);
}

/* Twitter */

.twitter {
    background-color: var(--background-twitter);
    padding: 5px;
    border-radius: 16px;
    color: var(--color-twitter);
}

/* YouTube */

.youtube {
    background-color: var(--background-youtube);
    padding: 5px;
    border-radius: 16px;
    color: var(--color-youtube);
}

/* Snapchat */

.snapchat {
    background-color: var(--background-snapchat);
    padding: 5px;
    border-radius: 16px;
    color: var(--color-snapchat);
}

/* Busqueda -Barra lateral */

.aside {
    justify-content: flex;
    width: 100px;
    justify-content: space-around;
    gap: 20px;
    color: var(--color-aside);
}


